[2022-02-23 10:31] flyingsonu122 opened #7 "suggest new features"
**suggest new features for the music player**

- [ ]  suggest new features by creating new issues

**note**: all are welcome, no need to take permission

[2022-02-23 21:28] sanket95droid commented on #7
1.) Like 🤍 feature for songs, because playlist only reveals the user's style.
2.) Lyrics for people to understand the song.
Also if I was to work on it I would've definitely changed the styling CSS.
😄

[2022-02-24 18:54] flyingsonu122 commented on #7
@sanket95droid go ahead and make a better design

[2022-02-24 21:09] sanket95droid commented on #7
I can only make the PR after 1 March after particular mentors get assigned to the project also then my PR will be considered.

[2022-02-24 21:12] flyingsonu122 commented on #7
You can start working on the project from today, PR can be raised from 1st of march.

[2022-02-26 18:36] flyingsonu122 opened #9 "add sign up and login features"
1. login with social media account
2. login with email & password
3. login with mobile and OTP
4. login with a magic link on email

[2022-02-26 18:39] flyingsonu122 opened #10 "enhance UI / UX Design"
- discuss about the design first

[2022-02-27 10:53] Navi68 commented on #9
sir, can you assign me this issue for gssoc 22.

[2022-02-27 12:37] flyingsonu122 commented on #9
@Navi68 assigned to you, start contributing now

[2022-02-27 19:45] Kanika1309 commented on #7
Hi...I am GSSoC'22 participant. I want to work on backend using nodeJS and mongodb to add features like -
1. search a song
2. creating your own playlist by artist or genre
Let me know if there is any tasks that can be assigned to me.

[2022-02-27 19:51] flyingsonu122 opened #11 "creating your own playlist by artist or genre"

[2022-02-27 19:53] flyingsonu122 commented on #7
Hello @Kanika1309 I am assigning you #11

[2022-02-27 20:01] flyingsonu122 opened #12 "fetch lyrics for songs to display"

[2022-02-27 20:04] flyingsonu122 opened #13 "add more songs"
**We don't want to manually upload songs,**

Add functionality to the website to fetch songs from users device and other online sources or API

[2022-02-28 00:51] Navi68 commented on #9
Ok sir thank you👐

[2022-02-28 14:19] Kushal-2002 commented on #13
I am a GSSOC'22 participant, I want to work on this issue.

[2022-02-28 14:39] Navi68 commented on #9
Hello sir currently you have assign me login page. I am good in frontend
part, i just google it and found out magic link generation is all about
backend part i am not so goid in backend. What i do know should i work on
just frontend part? Please help me.

On Sun, Feb 27, 2022, 6:07 PM Sonu Kumar Kushwaha ***@***.***>
wrote:

[2022-02-28 15:50] biswajit150803 commented on #12
I want to work on this issue under GSSoc'22.

[2022-02-28 17:45] flyingsonu122 commented on #9
Do whatever possible

[2022-02-28 18:15] Anish1411 commented on #9
hii.. , i want to work on this issue , assign it to me under gssoc'22.

[2022-02-28 18:23] flyingsonu122 commented on #9
Go ahead @Anish1411

[2022-02-28 19:04] VartikaB commented on #11
Hello I am Vartika gssoc 2022 , I want to solve this issue.

[2022-02-28 19:07] flyingsonu122 commented on #11
Hi @VartikaB please solve it.

[2022-02-28 19:14] VartikaB commented on #11
Thankyou sir I will work on it.

[2022-03-01 02:14] akrati-max commented on #12
i am Akrati Gssoc 22 .i want to work on this issue

[2022-03-01 03:42] HAXAZE commented on #10
1.Background should be Black
2.Playlist should be added like a. Recent playlist b. Hip Hop playlist c. Remix playlist d. Button color should be same
I am a GSSOC'22 Contributor I would like to work on this issue.

[2022-03-01 03:50] Kushal-2002 commented on #10
/assign

[2022-03-01 03:50] Kushal-2002 commented on #13
/assign

[2022-03-01 04:39] Anish1411 commented on #9
okk thankx

[2022-03-01 05:49] biswajit150803 commented on #12
@flyingsonu122  You have given a like.So is this work assigned to me or not can you plz specify?

[2022-03-01 05:52] Abh1shekSingh commented on #9
HI @flyingsonu122 Please assign this issue to me. I would love working on it

[2022-03-01 08:01] yogitasaini commented on #9
Please assign this task to me

[2022-03-01 08:02] keerthinamballa commented on #7
Hello, I am GSSoC'22 contributor. I would like to put tile display to the song .

[2022-03-01 10:59] flyingsonu122 opened #14 "put tile display to the songs"

[2022-03-01 11:06] aarushimaurya commented on #10
Hello, I am a GSSoC participant, can you assign this to me?

[2022-03-01 11:49] fleurdelis07 commented on #13
Can I work on this issue for GSSOC'22

[2022-03-01 11:55] flyingsonu122 commented on #13
Yes, you should work on it.

[2022-03-01 12:40] Rishabh-Gaud commented on #11
good evening sir, I am Rishabh Kumar Gaud. I want to create playlists by genre and artist.  Give me chance to solve this issue

[2022-03-01 12:50] VartikaB commented on #11
@Rishabh-Gaud can we work together? This will progress the task too in a better speed.

[2022-03-01 13:15] Rishabh-Gaud commented on #11
you can count on me

[2022-03-01 14:15] Kumar-laxmi opened #15 "Code Optimization and File Ordering"
In the Project I found all CSS files and JS files clubbed together.

So they can be organised in directory to increase readability of reduce complexity.

Also it found two JS function code getting repeated, so we can organise them in single JS file and just call them instead of writing those code again.

[2022-03-01 14:16] Aditya3403 commented on #9
I would like to work on this issue .Kindly assign it to me.

[2022-03-01 14:17] Aditya3403 commented on #12
I would like to work on this issue . Kindly assign this issue to me.

[2022-03-01 14:37] UdAyAn123 commented on #13
Can I add some?

[2022-03-01 15:06] itsmeAnubhab commented on #14
I am GSSOC'2 participant. I would like to work on this.

[2022-03-01 15:52] pratham-ops opened #16 "Add a Panel displaying Lyrics of the song using Musixmatch Api"

[2022-03-01 16:36] itsmeAnubhab commented on #14
can you please elaborate?

[2022-03-01 17:15] flyingsonu122 commented on #14
@keerthinamballa please cooperate here

[2022-03-01 17:16] eshan1925 opened #20 "Design this full website's UI in Figma"
Hey, I am **Eshan Gupta** the project Mentor for this project.

- You need to design the Ui of this website in Figma, don't do a lot of changes but make it look attractive.
- Share with us the link of the Figma (View-Only Acess) through making a pull request and attaching the link in the ReadMe.
- The best and the first UI we get in the coming week will be given as a Level-3 contribution.
- You ca

[2022-03-01 17:19] flyingsonu122 commented on #20
Welcome @eshan1925
Thanks for this suggestions

[2022-03-01 17:22] flyingsonu122 commented on #15
@Kumar-laxmi nice suggestions, assigning to you.

[2022-03-01 17:22] Pradumnasaraf opened #21 "docs: Add PR Template"
### Chnages
- Adding a PR template
- Template path **`.github/PULL_REQUEST_TEMPLATE.md`**

### Template Preview (while creating a PR.)
![Screenshot from 2022-03-01 17-54-32](https://user-images.githubusercontent.com/51878265/156168840-66822d65-3e60-4026-8064-f967d66cf94b.png)

####  Due to that we are also missing out on some checks on the community standards checklist

![Screenshot from 2022-03-0

[2022-03-01 17:23] Pradumnasaraf opened #22 "docs: Add Issue Templates"
### Chnages
- Adding Issue templates
- Template path **`.github/ISSUE_TEMPLATE`**

### Template Types
![Screenshot from 2022-03-01 21-03-49](https://user-images.githubusercontent.com/51878265/156198784-b2e8d551-3df4-4aff-a7c7-051a88c344c0.png)

### Template Preview (while creating an issue - bug.)
![Screenshot from 2022-03-01 18-03-48](https://user-images.githubusercontent.com/51878265/156169861-5

[2022-03-01 17:27] keerthinamballa commented on #14
### Giving Grid Display to playlist section.

- All the playlists will be having grid display so the user can easily access any of them easily.
- Adding searching and sorting so that user can find the desired playlist easily.

[2022-03-01 18:55] flyingsonu122 commented on #16
@parthsavajadiya please have a look here

[2022-03-01 19:32] flyingsonu122 opened #23 "Add share button"
- share particular song link so that someone play that particular song after visiting website by clicking shared link
- features to share on all social media platforms
- copy to clipboard features

[2022-03-01 19:52] #16 closed

[2022-03-02 05:32] zugzwang03 commented on #23
I would like to work on this issue under GSSoC22.

[2022-03-02 05:33] zugzwang03 commented on #23
Also, can you please inform the time limit within which I have to complete it as the difficulty label is not mentioned here.

[2022-03-02 05:36] flyingsonu122 commented on #23
Time limit:  within 6 days

[2022-03-02 08:13] itsmeAnubhab commented on #14
something like this?
https://codepen.io/assimilate/pen/aVKpYp

[2022-03-02 08:29] keerthinamballa commented on #14
@flyingsonu122  I am working on the issue I proposed. I would also update you with my result soon.

[2022-03-02 09:49] Prajnaprabhu3 commented on #20
I would be willing to join in contributing as well

[2022-03-02 12:33] Navi68 commented on #13
can i some ?

[2022-03-02 13:30] ZZENGAA commented on #20
hello ,i am ajitesh soni
I was looking exactly something like that to contribute so i also wanna contribute!!

[2022-03-02 13:32] ZZENGAA commented on #10
hello, i also wanna contribute to this issue

[2022-03-02 16:51] flyingsonu122 commented on #14
looking forward for your update

[2022-03-02 17:06] eshan1925 commented on #20
Hey @ZZENGAA, @Prajnaprabhu3, and @M-anisha-coder you all 3 can collaborate with each other and bring us a design by the 8th of March.
As if you all 3 will work independently then any 2 of you may have to discard their design at the end.
So my recommendation would be to distribute your work and make us a design.

Anyways the last decision is in your hands. You can contact each other through discor

[2022-03-02 18:55] M-anisha-coder commented on #20
I am ready to work together . If @ZZENGAA and @Prajnaprabhu3 are okay with this.
Let me know by morning.

[2022-03-03 03:45] Shama-Devi-93 commented on #7
Hello, I am GSSoc'22 contributor. I would like to work on the issue to display lyrics.

[2022-03-03 03:46] TG922 opened #25 "Feature : Addition of scroll back to top button"
### Description

- I want to add scroll back to top button for this website.
- This will improve website’s **User Experience(UX)** with an arrow, when a user start scrolling the page. The page smoothly scrolls back to top when the the button is clicked.

### Screenshot

- Please assign me to work for this feature under GSSOC '22.

![Image](https://user-images.githubusercontent.com/70098839/1564922

[2022-03-03 03:48] TG922 opened #26 "Enhancement : Adding customized look to standard scroll bar"
### Description

- I want to add custom scroll bar for this website.
- This will Improve your website’s **User Interface(UI)**.

### Screenshot

- Please assign me on this issue under GSSOC '22.

![Image](https://user-images.githubusercontent.com/70098839/156492545-98233af6-0625-458d-9676-dfbb2ed23b20.PNG)

[2022-03-03 04:05] Prajnaprabhu3 commented on #20
yes, works for me

[2022-03-03 05:38] lokita282 commented on #9
I would like to work on this issue under GSSOC '22

[2022-03-03 05:38] lokita282 commented on #11
I would like to work on this issue under GSSOC '22

[2022-03-03 08:06] M-anisha-coder commented on #20
Join this telegram group we will work together @Prajnaprabhu3
https://t.me/Learningopportunities

[2022-03-03 09:19] Pradumnasaraf commented on #22
Hey! @flyingsonu122, please check this issue

[2022-03-03 09:20] Pradumnasaraf commented on #21
Hey! @flyingsonu122, please check this issue,
Thank you

[2022-03-03 11:54] ZZENGAA commented on #20
i am also ready to work with both of you!! sorry for the late reply guys!!

[2022-03-03 11:58] ZZENGAA commented on #20
can you guys provides your discord ids?
mine is _AJ_#9335

[2022-03-03 12:02] ZZENGAA commented on #20
@M-anisha-coder @Prajnaprabhu3 ?

[2022-03-03 12:08] Prajnaprabhu3 commented on #20
Prajna#6097  -> discord id

[2022-03-03 12:23] M-anisha-coder commented on #20
manisha visvkrama#8457

[2022-03-03 13:15] flyingsonu122 commented on #21
@eshan1925 do we need this

[2022-03-03 13:16] flyingsonu122 commented on #22
@eshan1925 do we need this

[2022-03-03 13:56] BeginnerCoder21 commented on #20
Can I work on this issue? @flyingsonu122

[2022-03-03 15:39] A9Aru commented on #20
Can I work on this issue? @flyingsonu122

[2022-03-03 16:00] BeginnerCoder21 commented on #20
@flyingsonu122 Okay, Thanks!!

[2022-03-03 16:08] A9Aru commented on #20
Thanks @flyingsonu122!

[2022-03-03 16:35] parths9 commented on #20
hi @flyingsonu122, could I work on this issue

[2022-03-03 16:47] flyingsonu122 opened #27 "display lyrics"
- show  lyrics of songs by using APIs

[2022-03-03 16:51] #27 closed

[2022-03-03 18:00] eshan1925 commented on #21
We can do this...
But I don't have much idea on how to set this up, assign someone who can establish the workflow correctly.

[2022-03-03 18:01] eshan1925 commented on #22
We can do this...
But I don't have much idea on how to set this up, assign someone who can establish the workflow correctly.

[2022-03-03 18:05] Pradumnasaraf commented on #22
Hey @eshan1925 there is no workflow required, it's a normal template (No GitHub actions), like [this](https://github.com/Pradumnasaraf/Pradumnasaraf/issues/new/choose)

[2022-03-03 18:06] Pradumnasaraf commented on #21
Hey @eshan1925 there is no workflow required, it's a normal template (No GitHub actions), like [this](https://github.com/Pradumnasaraf/Pradumnasaraf/issues/new/choose)

[2022-03-03 18:09] eshan1925 commented on #22
Alright, @Pradumnasaraf How can we use it each time a user creates a new issue or PR.
For example, if there is new PR.

Then we want the user to have some text from before in the description.
Like what is that you are changing etc.
Please explain as I have never used this feature before.

[2022-03-03 18:15] Pradumnasaraf commented on #22
@eshan1925  It helps us in structuring the Issue info in proper format and also when you open a specific issue it will auto add a label to it so that you don't have to manually put it or Add no need to add special GitHub actions. Also, it will help you when you are releasing the packages in future

Here are the official [docs](https://docs.github.com/en/communities/using-templates-to-encourage-use

[2022-03-03 18:16] Pradumnasaraf commented on #22
For the test, you can try opening one issue here [https://github.com/Pradumnasaraf/Pradumnasaraf.github.io/issues/new/choose] :)

[2022-03-03 18:17] eshan1925 commented on #22
Ok, Thanks a lot as I can see in the docs we need some templating and that template is a file.
So can you make a PR and reference the issue?

[2022-03-03 18:20] Pradumnasaraf commented on #22
Didn't get that should I work on this issue #22?

[2022-03-03 18:24] Pradumnasaraf commented on #21
Should I also make a PR for this?

[2022-03-03 18:25] Pradumnasaraf commented on #21
@eshan1925 Should I also make a PR for this?

[2022-03-03 18:28] eshan1925 commented on #22
Yess

[2022-03-03 18:40] parths9 commented on #20
thank you @flyingsonu122

[2022-03-05 05:48] shivam123-dev opened #30 "Enhancement : SEARCH button on the navbar"
**Description**

 - I want to replace the SEARCH button on the navbar with search svg icon
 - This will Improve your website’s User Interface(UI).

**Screenshot**

**Replaced the SEARCH button with its SVG icon**
![image](https://user-images.githubusercontent.com/81038095/156870075-cea8a073-e38b-4700-9e91-b3e8540b958a.png)

 - Please assign me on this issue under GSSOC '22 @flyingsonu122

[2022-03-05 07:42] flyingsonu122 commented on #30
This is the actual website https://www.sonu.live/tarana

[2022-03-05 18:26] #30 closed

[2022-03-06 06:26] amanagnihotri1 commented on #7
Hii,I'm a GSSoc'22 participant and i want to contribute in this project.
Feature That i want to add are
1.Adding Tag to a Song to make it more easy for user to listen to particular mood music only.
2. Making Search Functioning more easy for user by adding debouncing function
At Last if any one person want to join / contribute with me feel free to contact me on GSSoc'22 discord server as Aman Agnih

[2022-03-06 06:41] amanagnihotri1 commented on #9
i would like to contribute on this feature, if u allow me
i can work upon social media account login
i am open to work with one more person if anyone open for this please contact on GSSoc's Discord Server.

[2022-03-06 08:50] Kushal-2002 opened #31 "Code readability"
While working on one of the features I have found that the code is not well-structured and are not readable. I want to add comments in the code files and also arrange the files in proper order so that it becomes easier for others to read and understand the code and also contribute in the project.

[2022-03-06 08:51] Kushal-2002 commented on #31
I have got files ready, I will make the PR as soon as I am assigned.

[2022-03-06 18:24] agcodester opened #32 "[UI Improvement]"
Hi @flyingsonu122 this is Aum here.
I would like to work on improving the UI of your Tarana Music Player.
My suggestions include displaying the list of songs along with their relevant pictures on the left and the current playing music with its pictures and media controls on the right.
I also wish to add a sticky navbar and display it using the CSS "z-index property".
Hope, you will like my suggest

[2022-03-07 18:58] AmanRana10 opened #36 "Improve the design of the songs list"
I would like to work on design of the songs list

[2022-03-08 07:14] flyingsonu122 commented on #31
go ahead @Kushal-2002

[2022-03-08 07:15] flyingsonu122 commented on #32
do it @agcodester

[2022-03-08 07:25] flyingsonu122 commented on #20
@Prajnaprabhu3 @M-anisha-coder @Prajnaprabhu3
share link of design
allow permissions so that we can see it. [flyingsonu736@gmail.com](mailto:flyingsonu736@gmail.com)

[2022-03-08 09:04] Prajnaprabhu3 commented on #20
@flyingsonu122 should I make a new PR

[2022-03-08 11:02] flyingsonu122 commented on #20
@Prajnaprabhu3 it looks nice ,

-  can you also make for mobile devices
-  share public so everyone can see

[2022-03-08 11:16] flyingsonu122 commented on #9
has anyone done it, please ping me

[2022-03-08 12:00] #22 closed

[2022-03-08 12:01] #21 closed

[2022-03-08 14:21] BeginnerCoder21 commented on #20
@flyingsonu122 I and @parths9 has also created the UI, I have shared the Figma file with you, please check!!

[2022-03-08 16:18] flyingsonu122 commented on #20
It's awesome

[2022-03-08 16:35] flyingsonu122 commented on #20
We all should discuss what to do next.

@eshan1925 please arrange a meeting for all participants to the project

[2022-03-08 16:39] flyingsonu122 commented on #20
We have got 2 awesome design, on specified time.

I am very thankful to you all.

Congratulations 🎉

[2022-03-08 18:31] parths9 commented on #20
Thank you @flyingsonu122 😊

[2022-03-09 07:26] smrithi1912 commented on #20
@eshan1925 hi, are you still accepting designs?

[2022-03-09 07:28] smrithi1912 opened #38 "Add Music Data API"
I can see that the list of songs is very limited. Instead I could add the API of some great songs library (eg- Spotify or AudioDB) to this website.

[2022-03-09 07:43] flyingsonu122 commented on #20
yes

[2022-03-09 08:14] bh-divyansh opened #39 "Create this Music player in Flutter from scratch"
Hi, I am a GSSOC '22 Contributor; I would like to create the music player again from scratch in Flutter. If you assign this issue to me, I would be glad to start working.

[2022-03-09 10:10] flyingsonu122 commented on #23
@sulogna2001 are you working on it.
you & @zugzwang03 can work together

[2022-03-11 07:01] Yasshu55 opened #40 "Change the Hovering effect of the Buttons"
I have found a bug in the website. Share button doesn't have a Hover Effect like POST A COMMENT, READ MORE button.
I would like to change the Hover Effect for the buttons, which Transits from Left to right and add a Hover Effect to the Share Button

[2022-03-11 10:44] prer45 commented on #12
I would also like to work on this issue . Please assign it to me

[2022-03-11 18:41] flyingsonu122 opened #41 "Make it responsive"
Make website response to every screen sizes

[2022-03-12 03:43] flyingsonu122 commented on #15
can you please do it again after new changes

[2022-03-12 03:45] Kumar-laxmi commented on #15
ya sure I will try

[2022-03-12 17:09] Apexshya commented on #41
I am GSSoC'22 contributor and I would like to work on this issue.

[2022-03-13 03:40] Kumar-laxmi commented on #15
Bro please close this

[2022-03-13 03:41] flyingsonu122 commented on #15
Add proper links to index.html

[2022-03-13 04:04] Kumar-laxmi commented on #15
ok

[2022-03-13 13:29] flyingsonu122 opened #44 "New Interface"
1. **Make New Look Like This**

![Desktop - 1](https://user-images.githubusercontent.com/51280276/158061509-a15f891a-a845-4dd1-9256-56a6dafe3a1b.png)

![Desktop - 2](https://user-images.githubusercontent.com/51280276/158061529-53e41ccf-7ab2-48b6-9c39-55ba8f2aa0bb.png)

![Desktop - 3](https://user-images.githubusercontent.com/51280276/158061542-f6a13a02-9610-4e5e-b1ce-b420c538c391.png)

[2022-03-14 03:47] roy-shivam commented on #9
sir can you assign me this under GSSOC 2022,

[2022-03-14 04:23] roy-shivam commented on #32
hello @flyingsonu122  sir I want to add animated background if the music player, by which it looks more attractive
please assign me this task.

[2022-03-14 04:57] flyingsonu122 commented on #32
@agcodester @roy-shivam
solve this #44

[2022-03-15 03:42] randomuy1289 commented on #41
I am a GSSoc'22 contributor and I would like to work on this issue.

[2022-03-15 17:14] roy-shivam opened #47 "add cdn for music files"
all music file have to store in cdn and use links to play music

[2022-03-16 16:22] gullapalli9482 opened #48 "New visual features"
- Including a dark mode feature
- Having a favicon of the website's header
- Proper background colors

[2022-03-16 16:57] flyingsonu122 commented on #48
work on this #44

[2022-03-17 04:30] ayush25102001 commented on #9
Can I create the schema for the userModel with fields like name email and password.
When the user signs up the credentials will be added to the database(MongoDB) and then will be checked when he logs in.
I wish to work on backend part.

[2022-03-17 15:56] tejal-1303 commented on #44
I would like to work on this issue
I am a GSSOC contributor
Please assign me this task

[2022-03-17 16:02] SwathiReddy03 commented on #44
I am a GSSOC contributor
I also want to work on this issue
as it is a big task we can both work on this task together
what do you think?

[2022-03-18 08:29] Phalak-Sharma opened #50 "work on header and footer on aboutus.html"
work on header and footer on aboutus.html

[2022-03-18 17:17] AmanRana10 commented on #44
I can make the songs list look like this because i had previously worked on it as well and achieved the same...

[2022-03-19 07:13] #50 closed

[2022-03-19 17:00] TG922 commented on #26
@flyingsonu122 I'm almost done with the issue I will send PR regarding this tomorrow

[2022-03-19 17:00] TG922 commented on #25
@flyingsonu122 I'm almost done with the issue I will send PR regarding this tomorrow ASAP

[2022-03-21 13:28] aashi2912 opened #55 "Improve about us section"
I want to contribute to this project under GSSOC'22. I want to improve the Style/design/ CSS of the about us page and make it more attractive and organized.

![image](https://user-images.githubusercontent.com/52272710/159270477-c066c317-d7c0-4128-aa12-3d76a1eb9b57.png)

@flyingsonu122

[2022-03-21 14:49] mohitahlawat2001 commented on #41
i want to contribute can you assign me

[2022-03-22 08:49] aashi2912 commented on #55
Hi, I am trying to push the changes before creating a PR. but it gives below error. Can u please see?

![image](https://user-images.githubusercontent.com/52272710/159442429-3339d46e-e2f2-4faf-8df3-98a1ec05c885.png)

@flyingsonu122

[2022-03-22 08:59] flyingsonu122 commented on #55
are you logged in to git?

[2022-03-22 09:01] aashi2912 commented on #55
yes

[2022-03-22 09:02] flyingsonu122 commented on #55
you can update files on github itself

[2022-03-22 09:03] aashi2912 commented on #55
okk..the issue got resolved. Thanks

[2022-03-28 18:18] payalsamal commented on #44
I am GSSOC22 contributor and i wanna work on this new interface.

[2022-03-29 04:47] ankeeta-ahire opened #59 "Adding search logo for search songs functionality."
This would enhance the user experience. Please assign me this issue.

[2022-04-01 06:25] ayush25102001 commented on #9
Can I create frontend React login and SignUp components, I will provide a button in the Header of the Homepage.

Participant under gssoc'22

[2022-04-01 15:04] flyingsonu122 commented on #9
@ayush25102001 do it.

Please Do it

[2022-04-01 15:06] flyingsonu122 commented on #44
Alright please work on it @payalsamal

[2022-04-02 07:40] #48 closed

[2022-04-02 07:57] #55 closed

[2022-04-02 09:59] ayush25102001 commented on #9
Can I set up authentication using JWT at the backend here if the user logs in to our application we provide a user with a token and the, later user would be required to have that token to access the protected routes of the application.
Wishing to work on the backend part of the issue.
Participant under Gssoc’22

[2022-04-03 13:54] #36 closed

[2022-04-03 13:55] #31 closed

[2022-04-03 14:39] Rishita489 commented on #59
Hey @flyingsonu122  , I am a GSSOC'22 contributor . Can you please assign this issue to me . I have send the PR solving this issue . Can you please review and merge it .

[2022-04-04 07:02] Rishita489 commented on #59
Hey @flyingsonu122 , I have made a new pull request in develop branch . Please assign this issue to me and review and merge my PR.

[2022-04-04 08:06] #59 closed

[2022-04-06 13:50] 19arnab190201 opened #64 "Add a like button"
Add a like button which will make a custom list of songs/playlist users will be identified using browsers

[2022-04-10 07:20] 19arnab190201 commented on #64
Can you please assign it to me under GSSOC22

[2022-04-12 02:19] flyingsonu122 commented on #44
who is working on it, **first person to complete** will be considered

[2022-04-12 02:19] flyingsonu122 commented on #23
who is working on it, **first person to complete** will be considered

[2022-04-12 10:33] Pallavisingh123 opened #65 "add footer in bottom and top"
want to add a footer section at the bottom and Top.
kindly assign it to me.

[2022-04-12 11:42] flyingsonu122 commented on #65
@Pallavisingh123
what will you show there?

[2022-04-16 13:32] Anjali-Kedia opened #66 "Improving the About Us Page"
I will redesign the UI of the about us page, by adding proper fonts, boxes colours and re aligning the content.

[2022-04-19 19:36] TG922 commented on #25
Sorry for the delay @flyingsonu122  I was busy in SIH 22 and will complete it ASAP. I know it's too late to close this issue.

[2022-04-19 19:36] TG922 commented on #26
Sorry for the delay I was busy in SIH 22 and will complete it ASAP. I know it's too late to close this issue.

[2022-04-29 02:55] flyingsonu122 commented on #41
yes, you can

[2022-04-29 02:55] mayank-del commented on #40
Can i work under this issue under gssoc22

[2022-04-29 02:58] mayank-del commented on #23
@flyingsonu122   Is this issue is still on??

[2022-04-29 02:58] mayank-del commented on #23
@flyingsonu122  , can i work under this issue under gssoc22

[2022-04-29 03:06] flyingsonu122 commented on #23
already implemented in **develop** branch, you modify it

[2022-05-03 10:11] mayank-del commented on #41
@flyingsonu122  please merge it, i made it responsive upto 300 px and below also

[2022-05-03 11:22] flyingsonu122 commented on #9
@ayush25102001 are you working on it?

[2022-05-03 11:22] flyingsonu122 commented on #9
anyone completed it?

[2022-05-03 11:23] ayush25102001 commented on #9
U did not assign it to me sir.

[2022-05-03 18:58] Abh1shekSingh commented on #9
@flyingsonu122  please assign it to me. I will do it quickly

[2022-05-04 01:25] flyingsonu122 commented on #9
alright,  do it 👍
@Abh1shekSingh

[2022-05-04 01:52] Abh1shekSingh commented on #9
Do you want me to first pop up signin page and then let viewer see ur content. Or I just add a Page, and it's user wish to signin or not?

[2022-05-04 02:53] flyingsonu122 commented on #9
just add a Page, and it's user wish whether to signin or not?

[2022-05-04 14:39] Abh1shekSingh commented on #9
@flyingsonu122 Bhai pehle toh mereko website smjhao, kuch smjh hi nhi aa raha, itna hochj poch kr rkha hai sb kuch, pata hi nhi lg raha, header kaha pe hai, button add kaise kru mein ?

[2022-05-04 18:34] flyingsonu122 commented on #9
If you can't figure it out, just leave it

[2022-05-05 02:29] Abh1shekSingh commented on #9
I fugured out, some how

[2022-05-05 05:27] Abh1shekSingh opened #69 "[FEATURE] I Will Add Email Password Authentication"
### Description

I will add email Password Authentication

### Screenshots

_No response_

[2022-05-05 05:27] Abh1shekSingh commented on #69
@flyingsonu122 Please assign the task.

[2022-05-05 05:32] flyingsonu122 commented on #69
do your work, everything will be taken care off

[2022-05-05 08:48] Abh1shekSingh commented on #69
@flyingsonu122  I am done with adding the Email Auth functionality, and is working the exact way it should work. But due to some reason I again forked and clone your repo, and now i cant see home page where songs play will appear.

[2022-05-05 09:49] Abh1shekSingh commented on #69
@flyingsonu122 please check discord DM. I have some queries and doubts. It would be Hard to all here. So I have DMd you on discord

[2022-05-05 15:52] Abh1shekSingh opened #71 "[FEATURE] I WILL ADD SIGNIN WITH GOOGLE METHOD"
### Description

Sign in With Google Auth

### Screenshots

_No response_

[2022-05-05 15:52] Abh1shekSingh commented on #71
@flyingsonu122 Can i please get assign to this

[2022-05-05 17:05] Abh1shekSingh commented on #71
@flyingsonu122 aap isko merge krlo, nhi toh baad mein merge conflicts aa Jayge, agr mein dusre pe changes kiye toh

[2022-05-06 04:30] Abh1shekSingh opened #72 "[FEATURE] I WILL ADD FACEBOOK AUTH"
### Description

FACEBOOK AUTHENCTICATION IN TARANA

### Screenshots

_No response_

[2022-05-06 04:30] Abh1shekSingh commented on #72
@flyingsonu122 Please assign the task

[2022-05-06 05:29] Abh1shekSingh opened #74 "[FEATURE] I WILL ADD MOBILE AND OTP AUTHENTICATION"
### Description

MOBILE AND OTP AUTH

### Screenshots

_No response_

[2022-05-06 05:30] Abh1shekSingh commented on #74
@flyingsonu122 Can I get Assign to this also

[2022-05-06 08:13] #69 closed

[2022-05-06 08:15] #71 closed

[2022-05-06 08:25] flyingsonu122 commented on #74
resolve these first @Abh1shekSingh

![image](https://user-images.githubusercontent.com/51280276/167094885-c40d612e-d7a8-465b-9845-ee7ab156fefe.png)

![image](https://user-images.githubusercontent.com/51280276/167095263-bcbed537-3b5e-445d-aafa-57a72fc21225.png)

![image](https://user-images.githubusercontent.com/51280276/167095311-6a84574a-4766-4bba-9477-c573bd8e5e0a.png)

[2022-05-06 08:27] Abh1shekSingh commented on #74
Sure

[2022-05-06 08:29] Abh1shekSingh opened #75 "Resolve The Breaking Code"
@flyingsonu122  Assign Please, I will Resolve it

[2022-05-06 08:32] flyingsonu122 commented on #75
signin up is not working fine, check here https://flyingsonu122.github.io/tarana

also, show meggage for error, and show signed in email

[2022-05-06 08:40] Abh1shekSingh commented on #75
![Uploading 16518263855801105433245317075278.jpg…]()
You are getting authenticated @flyingsonu122

[2022-05-06 08:42] Abh1shekSingh commented on #75
@flyingsonu122 to me everything is working very fine

[2022-05-06 08:42] Abh1shekSingh commented on #75
Also you are also get authenticated with a@gmail.com

[2022-05-06 08:44] flyingsonu122 commented on #75
check how your have to do https://sonukushwaha.me/ggps/public/signin.html

[2022-05-06 08:47] Abh1shekSingh commented on #75
dont worry @flyingsonu122 First I will work on backend then setup cool front end too

[2022-05-06 08:47] flyingsonu122 commented on #75
okay

[2022-05-06 09:04] amanagnihotri1 commented on #9
Hey @Abh1shekSingh  can i work on this issue with you ?please reply

[2022-05-07 03:58] Abh1shekSingh commented on #9
@amanagnihotri1  I am sorry, i have completed this part.

[2022-05-07 04:10] flyingsonu122 commented on #9
@amanagnihotri1 you can work on this #44

[2022-05-07 17:29] Abh1shekSingh commented on #75
@flyingsonu122 Please Give the Labels and marks for this PR sir.

[2022-05-08 11:56] Abh1shekSingh commented on #72
Hi @flyingsonu122  Bhai mere facebook account ka pata nhi kya pnga ho raha hai, use nhi kr pa raha usse mein. isliye Facebook auth nhi laga pauga

[2022-05-08 12:26] flyingsonu122 commented on #74
do this @Abh1shekSingh

[2022-05-09 07:34] Anjali-Kedia commented on #66
Changed added:
<img width="1440" alt="image" src="https://user-images.githubusercontent.com/91176852/167361975-64e76511-9337-4c2f-9ce1-ba833967aef1.png">
![image](https://user-images.githubusercontent.com/91176852/167362045-3688ecd3-f72f-46e8-b18c-099e65f513e8.png)

[2022-05-09 08:03] Abh1shekSingh commented on #74
@flyingsonu122 Can you please help me out with an issue. actually mobile OTP auth form is not working . I hav esetup the whole code. but it is not working

[2022-05-09 09:07] flyingsonu122 commented on #74
@eshan1925 please help here

[2022-05-14 00:16] #66 closed

[2022-05-14 00:17] #39 closed

[2022-05-14 00:18] #25 closed

[2022-05-14 00:18] #20 closed

[2022-05-14 00:18] #72 closed

[2022-05-14 00:19] #10 closed

[2022-05-14 00:20] flyingsonu122 commented on #40
Do it

[2022-05-14 00:20] #26 closed

[2022-05-14 00:21] #14 closed

[2022-05-14 00:21] #15 closed

[2022-05-14 00:22] #32 closed

[2022-05-14 11:01] mayank-del commented on #40
@flyingsonu122 , i am not getting any share button on your project, can you tell me exact path?

[2022-05-14 11:28] flyingsonu122 commented on #40
check **develop** branch

[2022-05-16 08:23] srivastavaritik opened #81 "add dark mode"
I want to add a dark mode to this website. Please assign me this under gssoc

[2022-05-17 15:35] ericdrosado opened #82 "Community Exchange Introduction/Tracking"
👋 Hi @flyingsonu122 ,

I am your GitHub mentor for the GitHub Education, [Community Exchange](https://airtable.com/shrRJ3AvEZQohOdGV) (CX) project. I'll be collaborating with you on preparing your repo for CX.

You mentioned in your submission that you wanted to submit a `Learn + Collaborate` repo. This means that you would like to teach students, step by step, how to build this project as well as

[2022-05-17 15:36] ericdrosado opened #83 "Add LEARN.md"
`Learn` repos should have a LEARN.md file to teach another student how to build your project step by step. You can explain how to build your project with text, code snippets, images, or even short (5 minute) long video lessons. As the maintainer of a Learn repo, the LEARN.md file requires you to think critically about how to explain the building of your project and how to also make it engaging. We

[2022-05-17 15:37] ericdrosado opened #84 "Add Topics"
In Community Exchange, GitHub Topics will help the discoverability of your project. You should create topics pertaining to:

* the tech stack you used on the project
* the subject matter of your repo
* the subject(s) covered in your LEARN.md

There is a limit of 20 topics you can add to your repo. There is no need to go overboard with topics. We recommend under 10 topics. You can add topics by fol

[2022-05-17 15:39] ericdrosado opened #85 "Update README"
A README is often the first item a visitor will see when visiting your repository. We recommend that your README includes information on:
* What the project does
* Why the project is useful
* How users can get started with the project
* Explain to users that there is a LEARN.md
* Who maintains and contributes to the project

[2022-05-17 15:40] ericdrosado opened #86 "Update repo description"
Other than GitHub Topics, your description will be the primary way of catching the users eyes. Your repo description should be clear and concise. Ask yourself:

* In one sentence, how do I convey what my repo does?
* What type of users am I interested in attracting to my repo?
* If I was a user, what words or phrases might spark my interest?

[2022-05-18 05:09] flyingsonu122 commented on #81
Dark mode is already there

[2022-05-19 04:11] navyasharma0203 commented on #65
Is it done...can I work on this??

[2022-05-19 04:12] navyasharma0203 commented on #41
Is it done..or Can I work on this??

[2022-05-19 04:12] navyasharma0203 commented on #9
Can I work on this??

[2022-05-19 06:18] #65 closed

[2022-05-19 06:19] flyingsonu122 commented on #41
You should work on this

[2022-05-20 10:54] nik132-eng opened #87 "Want To make LOGO for this project"
this project has a basic music logo want to change with the TARANA name in it. can you please assign me this work so I can contribute To GSSOC?

thank you

[2022-05-20 16:28] amanagnihotri1 commented on #9
@navyasharma0203 im working on this but ask mentor if 2 people can work on this

[2022-05-20 16:30] amanagnihotri1 commented on #9
i can work on login with email and pasword and with magic link

[2022-05-20 17:54] flyingsonu122 commented on #9
do this

[2022-05-21 09:02] amanagnihotri1 commented on #9
okk

[2022-05-21 14:57] flyingsonu122 commented on #87
please make it @nik132-eng

[2022-05-21 20:03] nik132-eng commented on #87
here are some suggestions

[2022-05-21 20:05] nik132-eng commented on #87
can you please refer to it and let me know which one you like and if you don't like it we can do further study and make logo.
@flyingsonu122

[2022-05-21 23:27] flyingsonu122 commented on #87
@Nihal-Priyadarshi @SinhaAnishKumar @Abh1shekSingh which one is suitable

[2022-05-22 04:48] nik132-eng commented on #87
I can provide these logos in png, Jpg, SVG format.

thank you.

[2022-05-23 11:28] nik132-eng commented on #87
@flyingsonu122  please check my logos and select one of them. and If any changes are required let me know.

waiting for your reply thank you.

[2022-05-23 12:37] flyingsonu122 commented on #87
![image](https://user-images.githubusercontent.com/51280276/169820882-2f1c192c-d760-4883-99f8-9561ca360cde.png)

This one can be improved, it's good

[2022-05-24 01:06] #87 closed

[2022-05-24 01:06] #75 closed

[2022-05-25 13:51] Nihal-Priyadarshi commented on #87
Fourth is better from all but can be improved.

[2022-05-28 11:49] navyasharma0203 commented on #41
Please check....problem resolved for all the pages...signup page wasn't responsive...that too resolved :)

[2022-05-28 14:27] flyingsonu122 commented on #41
create pull request @navyasharma0203

[2022-05-28 16:20] navyasharma0203 commented on #41
There are pretty one line minute addons only to the code....please review it...I don't think a pr is needed as such...

[2022-05-28 18:39] flyingsonu122 commented on #41
where is it to review?

[2022-06-03 16:38] #81 closed

[2022-06-03 16:38] #40 closed

[2022-06-10 15:20] Tanujkanti4441 commented on #44
can i work on this

[2022-06-10 15:26] flyingsonu122 commented on #44
Yes you should

[2022-06-11 04:38] Tanujkanti4441 commented on #44
hey @flyingsonu122 don't know why it is taking too much time and data for me to clone it which is not supposed to be happen because there are only html css and js files. Even i have deleted the music and image directory completely. Is it same for others also

[2022-06-11 07:14] flyingsonu122 commented on #44
do not clone it, download only html css and js files only ,make changes, and upload you files

[2022-06-24 09:38] #38 closed

[2022-06-24 09:39] #41 closed

[2022-06-24 09:39] #74 closed

[2022-06-24 09:40] #64 closed

[2022-06-28 07:35] flyingsonu122 commented on #23
Done

[2022-06-28 07:35] #23 closed

[2022-06-28 07:36] #13 closed

[2022-06-28 07:36] flyingsonu122 commented on #9
Done

[2022-06-28 07:36] #9 closed

[2022-06-28 07:46] #11 closed

[2022-06-28 07:46] #12 closed

[2022-06-28 07:50] flyingsonu122 commented on #84
Done :tada:

[2022-06-28 07:50] #84 closed

[2022-06-28 07:53] flyingsonu122 commented on #86
Done :tada

[2022-06-28 07:53] #86 closed

[2022-10-03 16:20] neeraj542 commented on #7
can I work on this issue

[2022-10-07 12:45] flyingsonu122 commented on #44
Yes pls,

[2022-10-07 12:45] flyingsonu122 commented on #44
Yes pls,

[2022-10-08 01:33] dyarawilliams commented on #44
Hi @flyingsonu122 So here's what I have. Hope I did well. But I was just curious about how you fetched the songs and got them to play in the app I hard-coded it for the UI.

![tarana-draft](https://user-images.githubusercontent.com/15236104/194681070-5c11877a-2a01-42de-95fe-920c7f6e1e55.PNG)

[2022-10-08 01:38] dyarawilliams commented on #44
Should I put in a pull request with the changes I have or would you like me to make more changes?

[2022-10-08 02:56] flyingsonu122 commented on #44
yes in [dynamic](https://github.com/flyingsonu122/tarana/tree/dynamic) branch

[2022-10-08 07:45] flyingsonu122 opened #94 "make new interface"
1. **Make New Look Like This**
2. if possible,make mobile responsive (optional)
3. do not clone it, download only html css and js files only , add dummy img and songs on local machine, make changes, and upload your files
4. host forked repo and share link
5. make sure, it is fully working

![Desktop - 1](https://user-images.githubusercontent.com/51280276/158061509-a15f891a-a845-4dd1-9256-56a6dafe3

[2022-10-08 07:53] flyingsonu122 commented on #7
yes pls

[2022-10-08 08:04] neeraj542 commented on #7
please assign me

[2022-10-08 08:06] flyingsonu122 commented on #7
if have any suggestions, create a new issue, I will assign that to you

[2022-10-08 08:18] neeraj542 commented on #7
okay

[2022-10-08 08:36] neeraj542 commented on #7
I can only suggest you about new feaures like what you can addup and also can tell you about what should remove from this

[2022-10-10 11:00] flyingsonu122 opened #95 "Design user interface for mobile responsive"

[2022-10-17 17:01] ozlemertosun commented on #94
Hi, I want to work on this :-)

[2022-10-18 04:04] flyingsonu122 commented on #94
Yes pls, go ahead

[2022-10-19 11:33] ozlemertosun commented on #94
@flyingsonu122 Do you have any files you can share with me, I need color codes :-)

[2022-10-19 12:15] flyingsonu122 commented on #94
Leave it, it's done

[2022-10-19 12:15] #94 closed

[2022-10-20 08:31] Mahak008 opened #96 "Add Dark Mode to the website."

[2022-10-22 03:59] flyingsonu122 commented on #96
Hi @Mahak008,
dark mode is already  present on the website.

[2022-10-22 03:59] #96 closed

[2022-10-23 18:56] sanket95droid commented on #95
What exactly is the requirement here? I checked the sites on mobile view and they work fine